{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ category.title|title }}
{% endblock title %}

{% block styles %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
{% endblock styles %}

{% block content %}
<section class="main-content920">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="about-user2039 mt-70">
                    <div class="user-title3930">
                        <h3>
                            {{ category.title|title }}
                        </h3>
                        <hr>
                    </div>

                    <div class="user-description303">
                        <p>
                            {{ category.description }}
                        </p>
                    </div>

                    <div class="ques-icon-info3293">
                        <i class="fa fa-users">
                            admins:
                            {% for admin in category.admin.all %}
                                {% if not forloop.last %}
                                    {{ admin.user.username }},
                                {% else %}
                                    {{ admin.user.username }}.
                                {% endif %}
                            {% endfor %}
                        </i>
                        <i class="fa fa-paper-plane-o">
                            {{ category.post_set.all.count }} 
                            Post{{ category.post_set.all.count|pluralize }}
                        </i>
                    </div>
                </div>

                <h3>Posts</h3>

                {% for post in category.post_set.all %}

                <div class="question-type2033">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="right-description893">
                                <div id="que-hedder2983">
                                    <h3>
                                        <a href="{{ post.get_absolute_url }}">
                                            {{ post.title|title }}
                                        </a>
                                    </h3>
                                </div>

                                <div class="ques-details10018">
                                    <p>
                                        {% comment %} {{ post.content|truncatewords:30 }} {% endcomment %}
                                        {% lorem 1 p random %}
                                    </p>
                                </div>
                                <hr>

                                <div class="ques-icon-info3293">
                                    <a href="#">
                                        <i class="fa fa-user-o" aria-hidden="true">
                                            {{ post.user.username }}

                                            {% if post.user.userprofile.is_admin %}
                                            <span class="badge229">
                                                admin
                                            </span>
                                            {% endif %}
                                        </i>
                                    </a>
                                    <a href="{{ post.category.get_absolute_url }}">
                                        <i class="fa fa-folder-open-o" aria-hidden="true">
                                            {{ post.category }}
                                        </i>
                                    </a>

                                    <span>
                                        <i class="fa fa-calendar-o" aria-hidden="true">
                                            {% comment %} {% now "DATE_FORMAT" as current_date %} {% endcomment %}
                                            {{ post.date_edited|date:"jS F Y H:i" }}
                                        </i>
                                    </span>
                                    <a href="#">
                                        <i class="fa fa-heart-o" aria-hidden="true">
                                            {% comment %} Implemet like functionality {% endcomment %}
                                        </i>
                                    </a>
                                    <span>
                                        <i class="fa fa-comments-o">
                                            {{ post.comment_set.count }} Comment{{ post.comment_set.count|pluralize }}
                                        </i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>
                    There are no posts here.
                </p>
                {% endfor %}

            </div>
            {% include 'side_bar.html' %}
        </div>
    </div>
</section>

{% endblock content %}