{% extends 'base.html' %}

{% load static %}

{% block title %}
    Change Password
{% endblock title %}

{% block styles %}
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">

<link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
{% endblock styles %}
	

{% block content %}
<section class="main-content920">
	<div class="container">
		<div class="modal-wrap">

			<div class="modal-bodies">
				<div class="modal-body modal-body-step-1 is-showing">
					<div class="title">Change Password</div>
						<div class="description">Use the following form to change your password</div>
						<form method="post">
						{{ form.as_p }}
						{% csrf_token %}
						<div class="text-center">
							<input class="button" type="submit" value="Change Password">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

{% block scripts %}
	
{% endblock scripts %}

{% endblock content %}
    